/* You can add global styles to this file, and also import other style files */

body {
  overscroll-behavior: contain;
  overflow: hidden;
}

:root {
  --main-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.btn {
  background-color: #28a745; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

.center-text {
  text-align: center;
}

.progress-line,
.progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}

.progress-line {
  background-color: #b3d4fc;
  display: flex;
  visibility: hidden;
}

.progress-line.show {
  visibility: visible;
}

.progress-line:before {
  background-color: #3f51b5;
  content: '';
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.card {
  border: 2px solid #1976d2;
  border-radius: 5px;
  width: 301px;
}

.ml-1 {
  margin-left: 1rem;
}
